/* App.css */

.App {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
}

th, td {
  padding: 0.5rem;
  border: 1px solid #ccc;
}

th {
  background-color: #f0f0f0;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #e5e5e5;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
/* App.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f0f0f0;
}

.navbar-icon {
  font-size: 2rem;
  margin-right: 1rem;
}

.navbar-title {
  flex-grow: 1;
}

.navbar-title h1 {
  margin: 0;
}

.navbar-login {
  margin-left: 1rem;
}

/* Style the button */
.navbar-login button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Add some spacing between icon and text */
.navbar-login button svg {
  margin-right: 0.5rem;
}

/* Style the button on hover */
.navbar-login button:hover {
  color: #007bff;
}
